In [29]:
import pandas as pd
import numpy as np
import os

In [9]:
test_2 = pd.read_csv("./demographicPrediction/labeled_users.csv")

In [10]:
test_2.head()

    user_id  is_female  year_born  race
0   12488.0        0.0     1980.0   4.0
1  719703.0        0.0     1985.0   4.0
2  722153.0        1.0     1973.0   3.0
3  749003.0        0.0     1982.0   5.0
4  755531.0        0.0     1982.0   4.0

In [23]:
test_xlsx = pd.read_excel("./demographicPrediction/cleaned_tweets.xlsx",engine='openpyxl').dropna(subset=['clean_text'])

In [24]:
test_xlsx.head()

,user_id,clean_text,@,#
0,12488,YKAR a futuristic sans serif font by -,@EmmeranR,#Freebie #Font #Merci
1,12488,Who can I contact about the very rude and poor...,@MBonvoyAssist,NaN
2,12488,I‚Äôd like to win,@SSlnes,NaN
4,12488,Now I'm heading to B1000th Floor,NaN,#quickrogue
5,12488,Check this out,NaN,NaN

In [38]:
test_xlsx['user_id'].value_counts()

47379451      100
7074382       100
2318073548    100
308636990     100
3224857470    100
             ...
1936178312      1
274768569       1
2560318209      1
2871497962      1
2509346532      1
Name: user_id, Length: 3272, dtype: int64

In [25]:
#cleaned_tweets=pd.read_excel("./cleaned_tweets.xlsx",engine='openpyxl').dropna(subset=['clean_text'])
data=pd.merge(test_xlsx, test_2, left_on='user_id', right_on='user_id')
df=data[['user_id','clean_text','race']]

In [26]:
print(len(df))

296109

In [49]:
df.head()

   user_id                                         clean_text  race
0    12488             YKAR a futuristic sans serif font by -   4.0
1    12488  Who can I contact about the very rude and poor...   4.0
2    12488                                    I‚Äôd like to win   4.0
3    12488                   Now I'm heading to B1000th Floor   4.0
4    12488                                     Check this out   4.0

In [79]:
df_copy = df.copy()
df_copy = df.groupby(['user_id'])['clean_text'].apply(' '.join).reset_index().drop_duplicates()

In [80]:
df_copy = df_copy.join(test_2.set_index('user_id'), on = 'user_id',how='inner').dropna(axis=0)
df_copy = df_copy[['user_id','clean_text','race']]
print(len(df_copy))
df_copy.head()

3158

   user_id                                         clean_text  race
0    12488  YKAR a futuristic sans serif font by - Who can...   4.0
1   719703  In other words it‚Äôs good news about the vaccin...   4.0
2   749003  would it be fair to call lil nas x the first s...   5.0
3   811618  Blah blah blah I think RAPE is worst RT Being ...   3.0
4   822540  ‚ù§Ô∏è üôè bonk Nice Ed McBoy OOS getting real tired...   4.0

In [81]:
df_copy = df_copy[df_copy['race'] != 5.0]

df_copy['race'] = df_copy['race']* 100
print(len(df_copy))
print(df_copy['race'].value_counts())
race_lst = []
races = df_copy['race'].to_list()

print(df_copy['race'].value_counts())

for idx, race in enumerate(races):
    if race == 100: # Black
        race_lst.append(0)
    elif race == 200: # Hispanic/Latino
        race_lst.append(1)
    elif race == 300: # Asian
        race_lst.append(2)
    elif race == 400: # White
        race_lst.append(3)
        
df_copy['race'] = race_lst

3047
400.0    2478
100.0     290
200.0     181
300.0      98
Name: race, dtype: int64
400.0    2478
100.0     290
200.0     181
300.0      98
Name: race, dtype: int64

In [82]:
print(len(df_copy))
print(df_copy['race'].value_counts())
df_copy.head()

3047
3    2478
0     290
1     181
2      98
Name: race, dtype: int64

   user_id                                         clean_text  race
0    12488  YKAR a futuristic sans serif font by - Who can...     3
1   719703  In other words it‚Äôs good news about the vaccin...     3
3   811618  Blah blah blah I think RAPE is worst RT Being ...     2
4   822540  ‚ù§Ô∏è üôè bonk Nice Ed McBoy OOS getting real tired...     3
5   865071  How about pizza dipped in water ü§¶üèª‚Äç‚ôÇÔ∏è Day 21 o...     3

In [83]:
df_copy.to_csv('./tweets_data_w_race/merged_tweets_per_user.csv',index = False)